<div class="jumbotron">
    <p class="lead">Kérem töltse fel a txt fájlt, ami ""1-3 a: abcde"" formátumban tartalmazza az adatokat!"</p>
    <form method="post" action="~/Result/Index" enctype="multipart/form-data">
        <p><input name="fileSelect" class="btn btn-secondary" type="file" accept=".txt" /></p>
        <p><button class="btn btn-info" onclick="submit">Feltöltés</button></p>
    </form>
</div>


